.header-main {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding: 0% 22px 0% 22px;
    align-items: center;
    min-height: 52px;
    background-color: aliceblue;
    box-sizing: border-box;
}

.header-inner {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header-items {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 8px;
    margin: 0;
}

.header-main > div {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
}
